<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>Valda Resto</title>
</head>
<body>
  <a href="#main" class="skip-link">Skip to content</a>

  
    <!--Awal Navbar-->
    <header class="header">
      <nav class="nav">
        <h1 class="nav__header">Valda Resto</h1>
        <button id="menu" class="header__menu">☰</button>
        <ul id="drawer" class="nav__list">
          <li class="nav__item"><a href="#" class="text">Home</a></li>
          <li class="nav__item"><a href="#" class="text">Favorite</a></li>
          <li class="nav__item">
            <a href="https://github.com/rivaldafatah" target="_blank" class="text">About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!--Akhir Navbar-->

    <!-- Awal Jumbotron -->
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Valda Resto</h1>
          <p class="hero__tagline">
            Temukan Makananmu Bersama Valda Resto
          </p>
      </div>
    </div>
    <!-- Akhir Jumbotron -->

    <!-- Awal Main -->
    <main id="main">
      <section class="main">
        <div class="roam">
          <div class="roaming__label">
            <h1>Jelajahi Semua Restaurant</h1>
            <div class="posts"></div>
          </div>
        </div>
      </section>
    </main>
    <!-- Akhir Main -->

    <!-- Awal Footer -->
    <footer>
      Copyright &copy; 2023 Rivalda Fatah Rachman Hernawan
    </footer>
    <!-- Akhir Footer-->
</body>
</html>
